/Debug
/Release
/bin
/ipch
/HMagic.vcxproj.user
/*.suo
/*.sdf
/*.opensdf
/*.aps
/HMAGIC.CFG
/.vs/HMagic/v15/*.suo
/HMagic.vpw
/HMagic.vpj
/HMagic.vpwhist
/HMagic.vtg
/ALTSPRNAMES.DAT
/ALTSPRNAMES_BAD.DAT
/ALTSPRNAMES_GOOD.DAT
